body {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: lightslategray;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: lightslategray;
  width: 300px;
  border-radius: 15px;
  padding: 5px;
  color: white;
  border: solid;
  border-color: white;
  border-width: 5px;
}

h2 {
  margin-top: 10px;
  text-align: center;
  color: white;
}

img {
  border-radius: 20px;
  border: solid;
  border-color: white;
  border-width: 5px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.thumbnail {
  transition: transform 0.3s;
  height: 150px;
  width: 150px;
  cursor: pointer;
}

.thumbnail:hover {
  transform: scale(1.1);
}

#modal {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10; 
}

#modal-close-button {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

#modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 90%;
  transform: translate(-50%, -50%);
}