html {
  background-color: lightsalmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

button, input {
  border-radius: 5px;
}